td{
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}



table{
    border-collapse:collapse;
}
.table{
    padding-top:1rem;
}

td{
  border: 2px solid white;
  color: white;
  
  
  background: rgb(38, 217, 98);
  text-align: center;
  
}


.slider{
  width: 75%;
  height: 20px;
  margin: 0 auto;
  background: red;
}
.round{
  background: blue;
  width: 10%;
  height: 100%;
  pointer-events: none;
  position: relative;
}
.sllider-value{
  position: absolute;
  width: 10px;
  height: 10px;
  background: pink;
}

.tableSome{
  display: flex;
}

#counterRow .counter-row .counter-row-title {
  width: 50px;
  height: 50px;
  background: red;
  border-radius: 50%;
}
#counterRow .counter-row{
  position: relative;
  display: flex;
  width: 500px;
}

#counterRow .counter-row .counter-row-item{

  position: absolute;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 50%;
}
